@model Project_WebDuLich.Context.Tour

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2 style="text-align:center">Edit</h2>
    <div class="form-horizontal" style="margin-left:200px">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaTour)

        <div class="form-group">
            Tên Tour
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Hình
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hinh, "", new { @class = "text-danger" })
                <input type="file" name="fileUpload" id="fileUpload" accept="image/*"
                       style="display:none;" />
                <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
            </div>
        </div>
        @section upload
{
            <script>
                $(function () {
                    $('#btnUpload').click(function () {
                        $('#fileUpload').trigger('click');
                    });
                });
                $('#fileUpload').change(function () {
                    if (window.FormData !== undefined) {
                        var fileUpload = $('#fileUpload').get(0);
                        var files = fileUpload.files;
                        var formData = new FormData();
                        formData.append('file', files[0]);
                        $.ajax(
                            {
                                type: 'POST',
                                url: '/Admin/Home/ProcessUpload',
                                contentType: false,
                                processData: false,
                                data: formData,
                                success: function (urlImage) {
                                    $('#pictureUpload').attr('src', urlImage);
                                    $('#Hinh').val(urlImage);
                                },
                                error: function (err) {
                                    alert('Error ', err.statusText);
                                }
                            });
                    }
                });
            </script>
        }

        <div class="form-group">
            Giá
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày Khởi Hành
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayKhoiHanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Phương Tiện
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhuongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhuongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số Ngày Đi
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoNgayDi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoNgayDi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tiêu Chuẩn Hotel
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hotel_TieuChuan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hotel_TieuChuan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giá Người Lớn
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaNguoiLon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaNguoiLon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giá Trẻ Em
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaTreEm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaTreEm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ghi Chú
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}


