@model IEnumerable<Project_Travel.Models.Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ Hàng</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.TenTour)</th>
        <th>@Html.DisplayNameFor(model => model.Hinh)</th>
        <th>@Html.DisplayNameFor(model => model.GiaNguoiLon)</th>
        <th>@Html.DisplayNameFor(model => model.GiaTreEm)</th>
        <th>@Html.DisplayNameFor(model => model.iSoluonglon)</th>
        <th>@Html.DisplayNameFor(model => model.iSoluongnho)</th>
        <th>@Html.DisplayNameFor(model => model.dThanhtien)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TenTour)</td>
            <td><img src="@item.Hinh" width="180" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @id = item.MaTour }))
            {
                <td>@String.Format("{0:0,0}", item.GiaNguoiLon) VND </td>
                <td>@String.Format("{0:0,0}", item.GiaTreEm) VND </td>
                <td><input type="number" min="1" name="txtSolglon" value="@item.iSoluonglon" /></td>
                <td><input type="number" min="1" name="txtSolgnho" value="@item.iSoluongnho" /></td>
                <td>@Html.DisplayFor(modelItem => item.dThanhtien)</td>
                <td> <a href="@Url.Action("Detail","Tour",new {@id = item.MaTour})">Chi Tiết</a>| @Html.ActionLink("Xoá", "XoaGiohang", new { @id = item.MaTour })</td>
                <td><input type="submit" value="Cập Nhật" class="btn btn-success" /></td>
            }
        </tr>
    }
    <tr style="font-weight:bold;text-align:left;color:red">
        <td colspan="2">Số Tour khác nhau: @ViewBag.Tongsoluongsanpham</td>
        <td colspan="2">Số lượng Tour: @ViewBag.Tongsoluong</td>
        <td colspan="4">Thành Tiền: @String.Format("{0:0,0}", @ViewBag.Tongtien) VND</td>
    </tr>
    <tr style="font-weight: bold; color: blue; text-align: right">
        <td colspan="5">
            @Html.ActionLink("Xoá Giỏ Hàng", "XoaTatCaGiohang")
        </td>
    </tr>
    <tr style="font-weight: bold; color: yellow; text-align: right">
        <td colspan="5">
            @Html.ActionLink("Đặt Hàng", "Dathang", "GioHang")
        </td>
    </tr>

</table>